APP_NAME=Zaruma Gestión
DATABASE_URL=sqlite:///./data/database.db

PDF_BASE_DIR=./pdf
DEFAULT_VAT_RATE=21

COMPANY_NAME=REFORMAS ZARUMA ESPJ
COMPANY_NIF=E-44649291
COMPANY_ADDRESS=CALLE BENET PONS I FÀBREGAS, 38
COMPANY_PHONE=610875581 - 698294802
COMPANY_EMAIL=reformas.zaruma@gmail.com

NOTICE_EMAIL_ENABLED=no
NOTICE_EMAIL_TO=

SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM=

# SMTP para envío de PDFs
SMTP_HOST=smtp.tudominio.com
SMTP_PORT=587
SMTP_USER=usuario@tudominio.com
SMTP_PASS=contraseña
SMTP_FROM=usuario@tudominio.com
